// #auth {
//     position: absolute; top: 0; left: 0; right: 0; bottom: 0; // fill screen
//     display: flex;

//     div {flex: 1; position: relative;}
//     #brand {
//         display: flex; align-items: center; justify-content: center;
//         padding: 16px;
//         #logo {width: 300px; height: auto;}
//     }
//     #page {padding: 16px; overflow-y: auto;}
// }
// @media (max-width: 1023px) {
//     #auth {
//         flex-direction: column;

//         #brand {
//             flex: 0 0 30%;
//             #logo {width: 120px; height: auto;}
//         }
//     }
// }


#auth {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    div {flex: 1;}
    #brand, #page {padding: 16px;}
    #brand {
        display: flex; align-items: center; justify-content: center;
        #logo {width: 300px; height: auto;}
    }
    #page {
        overflow-y: auto;
    }
}
@media (max-width: 1023px) {
    #auth {
        flex-direction: column;
        #brand {
            flex: 0 0 20%;
            #logo {width: 100px; height: auto;}
        }
    }
}
